body{
    margin: 0px;
    background-color: #191919; 
}

.top{
    padding: 10px;
}

.top > .left > .categories{
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    padding-top: 20px;
    padding-right: 20px;
}

.top > .left > .categories > a{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.5s;
    float:right;
    font-family: "Verdana", sans-serif;
}

.top>.right div{
    font-family: "Verdana", sans-serif;
    color: #FFFFFF;
    padding-left: 20px;
}

table.rv
{
	margin-left:50px;
	color:white;
	font-family: "Verdana", sans-serif;
	
}
.buttons
{
	background-color:black;
	border-color:black;
	color:white;
	padding: 5px;
}

.buttons:hover
{
	border-color:white;
}

.CheckoutFormBack{
    width:1680px;
    height:900px;
    background-color:black;
    position:absolute;
    top:100px;
    left:0px;
    opacity:.8;
    
}

.CheckOutForm{
    width:1200px;
    height:880px;
    position:absolute;
    top: 200px;
    left: 400px;
    background-color:black;
    opacity:.9;
    color: white;
    font-family: "Verdana", sans-serif;

}
.CheckOutForm > h1{
    text-align:center;
}

.ContactInformation{
    padding:20px;
    
}

.ShippingAddress{
    padding:20px;
}

.BillingAddress{
    padding:20px;
}

.CCinfo{
    padding:20px;
}

.shippingmethod{
    padding:20px;
}

.TotalCost{
    padding-left:50px;
}

.confirm{
    width:400px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding:22px 50px;
    text-align:center;
    font-size: 15px;
}
.Cancel{
    width:400px;
    background-color: red;
    border: none;
    color: white;
    padding:22px 50px;
    text-align:center;
    font-size: 15px;
}